################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Generals.NET-Server/obj
/Generals.NET-Server/bin/Debug/netcoreapp3.1
/.vs/Generals.NET-Server/v16
